In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [2]:
tt=pd.read_csv("./train.csv")

In [3]:
tt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
tt=tt.dropna(subset=['Embarked'])

In [5]:
tt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [6]:
ts=tt.iloc[:,[2,4,5,6,7,9,11]]#training set
ts_y=tt.iloc[:,1]
ts

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[889 rows x 7 columns]

In [7]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

In [8]:
imp_mean.fit(ts[['Age']])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [9]:
ts['Age']=imp_mean.transform(ts[['Age']])

/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
labelencoder_ts = LabelEncoder()

In [12]:
ts['Sex']=labelencoder_ts.fit_transform(ts['Sex'])

/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
ts['Embarked']=labelencoder_ts.fit_transform(ts['Embarked'])

/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
onehotencoder = OneHotEncoder(categorical_features =[0,1,6])

In [16]:
ts

     Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0         3    1  22.000000      1      0   7.2500         2
1         1    0  38.000000      1      0  71.2833         0
2         3    0  26.000000      0      0   7.9250         2
3         1    0  35.000000      1      0  53.1000         2
4         3    1  35.000000      0      0   8.0500         2
..      ...  ...        ...    ...    ...      ...       ...
886       2    1  27.000000      0      0  13.0000         2
887       1    0  19.000000      0      0  30.0000         2
888       3    0  29.642093      1      2  23.4500         2
889       1    1  26.000000      0      0  30.0000         0
890       3    1  32.000000      0      0   7.7500         1

[889 rows x 7 columns]

In [17]:
ts=onehotencoder.fit_transform(ts).toarray()

/home/przemek/.local/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/przemek/.local/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [24]:
from sklearn.model_selection import train_test_split;
X_train, X_test, Y_train, Y_test = train_test_split(ts,ts_y, test_size=0.01)

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc_ts = StandardScaler()

In [27]:
X_train = sc_ts.fit_transform(X_train)
X_test = sc_ts.transform(X_test)

In [48]:
clf.fit(X_train, Y_train)
clf.score(X_train, Y_train)

0.8159090909090909

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [37]:
tt=pd.read_csv("./test.csv")

In [35]:
ts=tt.iloc[:,[1,3,4,5,6,8,10]]#training set
ts

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  34.5      0      0    7.8292        Q
1         3  female  47.0      1      0    7.0000        S
2         2    male  62.0      0      0    9.6875        Q
3         3    male  27.0      0      0    8.6625        S
4         3  female  22.0      1      1   12.2875        S
..      ...     ...   ...    ...    ...       ...      ...
413       3    male   NaN      0      0    8.0500        S
414       1  female  39.0      0      0  108.9000        C
415       3    male  38.5      0      0    7.2500        S
416       3    male   NaN      0      0    8.0500        S
417       3    male   NaN      1      1   22.3583        C

[418 rows x 7 columns]

In [39]:
imp_mean.fit(ts[['Age']]);
ts['Age']=imp_mean.transform(ts[['Age']])

/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
imp_mean.fit(ts[['Fare']]);
ts['Fare']=imp_mean.transform(ts[['Fare']])

/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
ts['Embarked']=labelencoder_ts.fit_transform(ts['Embarked']);
ts['Sex']=labelencoder_ts.fit_transform(ts['Sex'])

/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/przemek/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
onehotencoder = OneHotEncoder(categorical_features =[0,1,6])

In [45]:
ts=onehotencoder.fit_transform(ts).toarray()

/home/przemek/.local/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/przemek/.local/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [46]:
X_test = sc_ts.fit_transform(ts)

In [47]:
X_test

array([[-0.58655899, -0.5349335 ,  0.95782629, ..., -0.49947002,
        -0.4002477 , -0.49840706],
       [-0.58655899, -0.5349335 ,  0.95782629, ...,  0.61699237,
        -0.4002477 , -0.51327429],
       [-0.58655899,  1.86939125, -1.04403065, ..., -0.49947002,
        -0.4002477 , -0.46508846],
       ...,
       [-0.58655899, -0.5349335 ,  0.95782629, ..., -0.49947002,
        -0.4002477 , -0.50879189],
       [-0.58655899, -0.5349335 ,  0.95782629, ..., -0.49947002,
        -0.4002477 , -0.4944482 ],
       [-0.58655899, -0.5349335 ,  0.95782629, ...,  0.61699237,
         0.61989583, -0.23790598]])

In [50]:
a=clf.predict(X_test)

In [53]:
a=pd.DataFrame(a)

In [54]:
a.to_csv()

',0\n0,0\n1,0\n2,0\n3,0\n4,1\n5,0\n6,1\n7,0\n8,1\n9,0\n10,0\n11,0\n12,1\n13,0\n14,1\n15,1\n16,0\n17,0\n18,1\n19,1\n20,0\n21,0\n22,1\n23,0\n24,1\n25,0\n26,1\n27,0\n28,0\n29,0\n30,0\n31,0\n32,1\n33,1\n34,0\n35,0\n36,1\n37,1\n38,0\n39,0\n40,0\n41,0\n42,0\n43,1\n44,1\n45,0\n46,0\n47,0\n48,1\n49,1\n50,0\n51,0\n52,1\n53,1\n54,0\n55,0\n56,0\n57,0\n58,0\n59,1\n60,0\n61,0\n62,0\n63,1\n64,0\n65,1\n66,1\n67,0\n68,0\n69,1\n70,1\n71,0\n72,1\n73,0\n74,1\n75,0\n76,0\n77,1\n78,0\n79,1\n80,0\n81,0\n82,0\n83,0\n84,0\n85,0\n86,1\n87,1\n88,1\n89,0\n90,1\n91,0\n92,1\n93,0\n94,0\n95,0\n96,1\n97,0\n98,1\n99,0\n100,1\n101,0\n102,0\n103,0\n104,1\n105,0\n106,0\n107,0\n108,0\n109,0\n110,0\n111,1\n112,1\n113,1\n114,1\n115,0\n116,0\n117,1\n118,0\n119,1\n120,1\n121,0\n122,1\n123,0\n124,0\n125,1\n126,0\n127,1\n128,0\n129,0\n130,0\n131,0\n132,1\n133,0\n134,0\n135,0\n136,0\n137,0\n138,1\n139,0\n140,0\n141,1\n142,0\n143,0\n144,0\n145,0\n146,0\n147,0\n148,0\n149,0\n150,1\n151,0\n152,0\n153,1\n154,0\n155,0\n156,1\n157,1\n158,0\n159,1\n160,1\n161,0\n162,1\n163,0\n164,0\n165,1\n166,0\n167,0\n168,1\n169,1\n170,0\n171,0\n172,0\n173,0\n174,0\n175,1\n176,1\n177,0\n178,1\n179,1\n180,0\n181,0\n182,1\n183,0\n184,1\n185,0\n186,1\n187,0\n188,0\n189,0\n190,0\n191,0\n192,0\n193,0\n194,0\n195,0\n196,1\n197,1\n198,0\n199,1\n200,1\n201,0\n202,0\n203,1\n204,0\n205,0\n206,1\n207,0\n208,1\n209,0\n210,0\n211,0\n212,0\n213,1\n214,0\n215,0\n216,1\n217,0\n218,1\n219,0\n220,1\n221,0\n222,1\n223,0\n224,1\n225,1\n226,0\n227,1\n228,0\n229,0\n230,0\n231,1\n232,0\n233,0\n234,0\n235,0\n236,0\n237,0\n238,1\n239,1\n240,1\n241,1\n242,0\n243,0\n244,0\n245,0\n246,1\n247,0\n248,1\n249,1\n250,1\n251,0\n252,0\n253,0\n254,0\n255,0\n256,0\n257,0\n258,1\n259,0\n260,0\n261,0\n262,1\n263,1\n264,0\n265,0\n266,0\n267,0\n268,1\n269,0\n270,0\n271,0\n272,1\n273,1\n274,0\n275,1\n276,0\n277,0\n278,0\n279,0\n280,1\n281,0\n282,1\n283,1\n284,1\n285,0\n286,0\n287,0\n288,0\n289,0\n290,0\n291,1\n292,0\n293,0\n294,0\n295,0\n296,1\n297,0\n298,0\n299,0\n300,0\n301,0\n302,0\n303,0\n304,1\n305,1\n306,0\n307,0\n308,0\n309,1\n310,0\n311,0\n312,0\n313,1\n314,1\n315,1\n316,0\n317,0\n318,0\n319,0\n320,0\n321,0\n322,0\n323,0\n324,1\n325,0\n326,1\n327,0\n328,0\n329,0\n330,1\n331,0\n332,0\n333,1\n334,0\n335,0\n336,0\n337,0\n338,0\n339,0\n340,0\n341,0\n342,0\n343,1\n344,0\n345,1\n346,0\n347,1\n348,0\n349,1\n350,1\n351,0\n352,0\n353,0\n354,1\n355,0\n356,1\n357,0\n358,0\n359,1\n360,0\n361,1\n362,1\n363,0\n364,1\n365,0\n366,0\n367,1\n368,1\n369,0\n370,0\n371,1\n372,0\n373,0\n374,1\n375,1\n376,0\n377,0\n378,0\n379,0\n380,0\n381,0\n382,1\n383,1\n384,0\n385,1\n386,0\n387,0\n388,0\n389,0\n390,0\n391,1\n392,0\n393,0\n394,0\n395,1\n396,0\n397,1\n398,0\n399,0\n400,1\n401,0\n402,1\n403,0\n404,0\n405,0\n406,0\n407,0\n408,1\n409,1\n410,1\n411,1\n412,1\n413,0\n414,1\n415,0\n416,0\n417,0\n'