In [3]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [4]:
tt=pd.read_csv("./train.csv")

In [5]:
tt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [23]:
tt=tt.dropna(subset=['Embarked'])

In [24]:
tt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [28]:
ts=tt.iloc[:,[2,4,5,6,7,9,11]]#training set
ts_y=tt.iloc[:,1]
ts

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  22.0      1      0    7.2500        S
1         1  female  38.0      1      0   71.2833        C
2         3  female  26.0      0      0    7.9250        S
3         1  female  35.0      1      0   53.1000        S
4         3    male  35.0      0      0    8.0500        S
5         3    male   NaN      0      0    8.4583        Q
6         1    male  54.0      0      0   51.8625        S
7         3    male   2.0      3      1   21.0750        S
8         3  female  27.0      0      2   11.1333        S
9         2  female  14.0      1      0   30.0708        C
10        3  female   4.0      1      1   16.7000        S
11        1  female  58.0      0      0   26.5500        S
12        3    male  20.0      0      0    8.0500        S
13        3    male  39.0      1      5   31.2750        S
14        3  female  14.0      0      0    7.8542        S
15        2  female  55.0      0      0   16.0000        S
16        3    male   2.0      4      1   29.1250        Q
17        2    male   NaN      0      0   13.0000        S
18        3  female  31.0      1      0   18.0000        S
19        3  female   NaN      0      0    7.2250        C
20        2    male  35.0      0      0   26.0000        S
21        2    male  34.0      0      0   13.0000        S
22        3  female  15.0      0      0    8.0292        Q
23        1    male  28.0      0      0   35.5000        S
24        3  female   8.0      3      1   21.0750        S
25        3  female  38.0      1      5   31.3875        S
26        3    male   NaN      0      0    7.2250        C
27        1    male  19.0      3      2  263.0000        S
28        3  female   NaN      0      0    7.8792        Q
29        3    male   NaN      0      0    7.8958        S
..      ...     ...   ...    ...    ...       ...      ...
861       2    male  21.0      1      0   11.5000        S
862       1  female  48.0      0      0   25.9292        S
863       3  female   NaN      8      2   69.5500        S
864       2    male  24.0      0      0   13.0000        S
865       2  female  42.0      0      0   13.0000        S
866       2  female  27.0      1      0   13.8583        C
867       1    male  31.0      0      0   50.4958        S
868       3    male   NaN      0      0    9.5000        S
869       3    male   4.0      1      1   11.1333        S
870       3    male  26.0      0      0    7.8958        S
871       1  female  47.0      1      1   52.5542        S
872       1    male  33.0      0      0    5.0000        S
873       3    male  47.0      0      0    9.0000        S
874       2  female  28.0      1      0   24.0000        C
875       3  female  15.0      0      0    7.2250        C
876       3    male  20.0      0      0    9.8458        S
877       3    male  19.0      0      0    7.8958        S
878       3    male   NaN      0      0    7.8958        S
879       1  female  56.0      0      1   83.1583        C
880       2  female  25.0      0      1   26.0000        S
881       3    male  33.0      0      0    7.8958        S
882       3  female  22.0      0      0   10.5167        S
883       2    male  28.0      0      0   10.5000        S
884       3    male  25.0      0      0    7.0500        S
885       3  female  39.0      0      5   29.1250        Q
886       2    male  27.0      0      0   13.0000        S
887       1  female  19.0      0      0   30.0000        S
888       3  female   NaN      1      2   23.4500        S
889       1    male  26.0      0      0   30.0000        C
890       3    male  32.0      0      0    7.7500        Q

[889 rows x 7 columns]

In [32]:
from sklearn.impute import SimpleImputer

In [35]:
imp_mean = SimpleImputer(missing_values="NaN", strategy='mean')

In [36]:
imp_mean.fit(ts)

AttributeError: 'DataFrame' object has no attribute 'dtype'